<%- include ("partials/header.ejs") %>

    <section class="landing-page">
        <!--This Section will greet the user when they open up this Weather App-->

        <h2>Welcome to the Weather App ☀️</h2>
        <form action="/forecast" method="POST">
            <label for="location">Enter your location:</label>
            <input type="text" id="location" name="location" placeholder="Your location...">
            <input type="submit" value="Submit">
        </form>

        <div class="welcome-weather-app">
            <% weatherData.forEach((data, index)=> { %>
                <div class="container">
                    <h6>
                        <%= welcomeCities[index].name %>
                    </h6>
                    <h6>Temperature: <%= data.hourly.temperature[0] %>°</h6>
                </div>
                <% }); %>

        </div>

    </section>

    <%- include ("partials/footer.ejs") %>