<%- include("partials/header.ejs") %>
<main>
    <section class="landing-page">
        <h2>Welcome to the Weather App ☀️</h2>
        <form action="/forecast" method="POST">
            <label for="location">Enter your location:</label>
            <input type="text" id="location" name="location" placeholder="Your location...">
            <input type="submit" value="Submit">
        </form>

        <div class="welcome-weather-app">
            <% weatherData.forEach((data, index)=> { %>
                <div class="container">
                    <h6>
                        <%= welcomeCities[index].name %>
                    </h6>
                        <% if (data.hourly.temperature_2m?.[0] !==undefined) { %>
                            <h6>Temperature: <%= data.hourly.temperature_2m?.[0] %> °C</h6>
                            <% } else { %>
                                <h6>Temperature: Data not available</h6>
                                <% } %>
                </div>
                <% }); %>
        </div>
    </section>
</main>
    <%- include("partials/footer.ejs") %>