<%- include ("partials/header.ejs") %>
<section class="user-input-weather">
    <h1><%= location %></h1>

    <div class="temperature-box">
        <h6 class="temperature">Temperature:<%= weather.hourly.temperature[0] %></h6>
    </div>
    <div class="uv-box">
        <h6 class="temperature">UV:</h6>
    </div>
    <div class="chance-of-precipitation-box">
        <h6 class="temperature">Chance of Precipitation:</h6>
    </div>
    <div class="wind-speed-box">
        <h6 class="wind-speed">Temperature:</h6>
    </div>
    <div class="wind-direction-box">
        <h6 class="wind-direction">Temperature:</h6>
    </div>
</section>
<%- include ("partials/footer.ejs") %>